
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{
    min-width: 400px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow:auto;
    background-color: #ffffff;
}

p, li, a{
    font-size: 1.5vw;
}

h1{
    font-size: 3vw;
}

h2{
    font-size: 2vw;
}

a{
    text-decoration:none;
    color: black;
}

.page-top{
    width: 100%;
    height: 14vw;
    font-weight: bold;
}

.page-top ul li{
    list-style: none;
}


.logo{
    width: 8vw
}

.big-title{
    position: absolute;
    left: 9vw;
    top: 2.5vw;
}

.small-title{
    position: absolute;
    left: 48%;
}

.top-right{
    position: absolute;
    right: 4vw;
    top: 0vw;
    display: block;
    height: 5vw;
}

.top-right li{
    list-style: none;
    display: inline-block;
    width: auto;
    padding: 0.5vw;
    margin-left: 3vw;
    margin-top: 0.5vw;
}


.top-right li a{
    padding: 0.5vw;
    margin-left:-0.5vw;
    margin-right:-0.5vw;
    border-radius: 0.75vw;
}

.top-right li a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.search{
    width: 85%;
    margin-left: 7.5%;
}

.input{
    width: 98.75%;
    height: 3vw;
    padding-left: 1%;
    font-size: 1.25vw;
}

.submit-kaste{
    position: absolute;
    right: 8.3%;
    top: 14.8vw;
}

.submit{
    width: 8vw;
    height: 2.5vw;
    font-size: 1vw;
    background-color: white;
    font-weight: bold;
    border-radius: 0.2vw;
}

.submit:hover{
    background-color: black;
    color: white;
}

.main{
    margin-top: 2vw;
    margin-left: 7.5%;
    margin-right: 7.4%;
}

.legenda-parent{
    background-color: black;
    display: block;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0;
    color: white;
}

.legenda-parent li{
    list-style: none;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}

.legenda-title{
    width: 20%;
}

.legenda-desc{
    width: 20%;
    padding-right: 2%;
}

.legenda-due{
    width: 10%;
    padding-right: 1%;
}

.legenda-due a{
    color: #ffffff;
}

.legenda-prority{
    width: 9%;
}

.legenda-prority a{
    color: #ffffff;
}

.legenda-status{
    width: 20%;
}

.legenda-status a{
    color: #ffffff;
}


.uzdevums{
    display: block;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin: 0;
    border-bottom:0.10vw solid #000000;
    border-left: 0.10vw solid #000000;
    border-right: 0.10vw solid #000000;
}

.uzdevums:hover{
    background-color: rgb(0, 0, 0, 0.05);
}

.uzdevums li{
    list-style: none;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 2vw;
    overflow:hidden;
    text-align: center;
}

.title{
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc{
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2%;
}

.due{
    width: 10%;
    padding-right: 1%;
}

.priority{
    width: 9%;
}

.status{
    width: 20%;
}

.uzdevums-single{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 3vw;
    background-color: rgb(0, 0, 0, 0.05);
    height: 23vw;
    border-radius: 0.5vw;
}

.uzdevums-task{
    padding-top: 0.8vw;
    margin-left: 3vw;
}

.uzdevums-desc{
    margin-top: 3vw;
    margin-left: 3vw;
}

.uzdevums-bottom{
    margin-top: 3vw;
    padding-top: 1.5vw;
    border-top: 0.1vw solid #000000;
}

.uzdevums-parrent{
    display: block;
    text-decoration:none;
    margin-right: 3vw;
}

.uzdevums-parrent li{
    display: inline;
}

.termins{
    margin-left: 3vw;
    margin-right: 31%;
}

.prioritate{
    margin-right: 15%;
}

.submit-uzd{
    margin-top: 1.5vw;
    text-align: center;
}

.submit-uzdevums{
    width: 25%;
    height: 3.75vw;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: white;
    border-radius: 0.2vw;
}

.submit-uzdevums:hover{
    background-color: #000000;
    color: white;
}

.create-task-button{
    background-color: rgb(0, 0, 0);
    position: sticky;
    width: 15vw;
    height: 3vw;
    bottom: 2.5%;
    margin-right: 7.4%;
    margin-top: 1%;
    float: right;
    text-align: center;
    padding-top: 1%;
    color: white;
    border: 0.2vw solid #000000;
    border-radius: 0.2vw;
}

.create-task-button:hover{
    background-color: white;
    color: #000000;

}

.empty{
    margin-left: 7.5%;
    margin-right: 7.4%;
    text-align: center;
    font-size: 2vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.c-box{
    margin-left: 7.5%;
    margin-right: 7.4%;
    margin-top: 3%;
}

.c-subbox{
    background-color: rgb(0, 0, 0, 0.075);
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 0.75%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    height: auto;
    padding-bottom: 2vw;
}

.c-form{
    margin-top: 3vw;
}

.c-form div{
    margin-left: 9%;
    margin-right: 10%;
    line-height: 0.2vw;
}

.c-ramis{
    width: 100%;
    height: 2vw;
    font-size: 1.5vw;
    margin-bottom: 2vw; 
}

.c-ramis-desc{
    width: 100%;
    height: 5vw;
    font-size: 1vw;
    margin-bottom: 2vw; 
}
.center{
    text-align: center;
}

.c-poga{
    width: 60%;
    height: 3.3vw;
    border-radius: 0.3vw;
    font-size: 1.5vw;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.atcelt{
    float: right;
    background-color: azure;
    width: 8vw;
    height: 3.1vw;
    border-radius: 0.3vw;
    border: 0.15vw solid #000000;
    background-color: black;
    color:white;
    text-align: center;
}

.atcelt-re{
    float: right;
    background-color: azure;
    height: 3.1vw;
    width: 8vw;
    border-radius: 0.3vw;
    border: 0.15vw solid #000000;
    background-color: black;
    color:white;
    text-align: center;
    margin-right: -0.3vw;
}

.atcelt-re:hover{
    background-color: white;
    color: black;
}

.atcelt-re p{
    font-size: 1vw;
    line-height: normal;
    margin-top: 0.4vw;
}

.c-poga:hover{
    background-color: black;
    color: white;
}

.atcelt:hover{
    background-color: white;
    color: black;
}

.error1{
    line-height: normal;
    font-size: 1vw;
    margin-top: -3vw;
    margin-bottom: 2vw;
    color: red;
}

.error2{
    line-height: normal;
    font-size: 1vw;
    margin-top: -1.5vw;
    margin-bottom: 2vw;
    color: red;
}

.error3{
    line-height: normal;
    font-size: 1vw;
    margin-top: -1.5vw;
    margin-bottom: 2vw;
    color: red;
}

.message{
    position: fixed;
    top: 3%;
    left: 9.5%;
    font-size: 1.5vw;
}

.pages{
    margin-top: 2vw;
    font-size: 1vw;
}

.edit{
    margin-left: 4vw;
    margin-top: -3.5vw;
    width: auto;
}

.edit a{
    font-size: 1vw;
}

.delete{
    margin-top: 1.25vw;
    margin-left: 4vw;
    font-size: 1vw;
    border-radius: 0.2vw;
    background-color: none;
    border:none;
    font-family: 'Roboto', sans-serif;
}

.delete:hover{
    color: red;
}

.logout{
    position: absolute;
    right: 1vw;
    top: 2.3vw;
    height: 5vw;
}

.logoutbut{
    margin-right: -3vw;
    height: 2vw;
    width: 4vw;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.2vw;
}

.logoutbut:hover{
    background-color: #ffffff;
    color: black;
}

.registerp{
    float: right;
    background-color: azure;
    height: 3.1vw;
    width: 8vw;
    border-radius: 0.3vw;
    border: 0.15vw solid #000000;
    background-color: black;
    color:white;
    text-align: center;
    margin-right: -0.3vw;
}

.registerp:hover{
    background-color: white;
    color: black;
}

.registerp p{
    font-size: 1vw;
    margin-top: 1.4vw;
}
